<div   class="offwhite-bg">
    <div class="space-out-section hidden-md-down">
        <div class="container video-card">
            <div class="flex-parent-2">
                <div class="flex-child-2">
                    <video width="550" preload="none" controls="" #videoplayer="">
                        <source
                            src="https://aiesec-bk.oss-cn-hangzhou.aliyuncs.com/Images/AIESEC%20Global%20Volunteer%20Introduction%20Video.mp4"
                            type="video/mp4">
                        Browser not supported
                    </video>
                </div>
                <div class="flex-child-2">
                    <div class="text-center">
                        <img src="https://cdn-expa.aiesec.org/icons-v2/gv-logo.png" alt="Global Volunteer Logo">
                    </div>
                    <p class="video-text">
                        {{translateService.applicationData['key2074'][translateService.currentLanguage]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>