<div   class="container space-out-section">
    <div class="flex-parent-2">
        <div class="flex-child-2">
            <div class="headings-text-left">
                {{translateService.applicationData['key2075'][translateService.currentLanguage]}}</div>
            <ul class="custom-ul-li">
                <li class="li-1">
                    <div class="content-text">
                        {{translateService.applicationData['key2076'][translateService.currentLanguage]}}
                    </div>
                </li>
                <li class="li-2">
                    <div class="content-text">
                        {{translateService.applicationData['key2077'][translateService.currentLanguage]}}</div>
                </li>
                <li class="li-3">
                    <div class="content-text">
                        {{translateService.applicationData['key2078'][translateService.currentLanguage]}}</div>
                </li>
                <li class="li-4">
                    <div class="content-text">
                        {{translateService.applicationData['key2079'][translateService.currentLanguage]}}</div>
                </li>
            </ul>
        </div>
        <div class="flex-child-2 text-center">
            <div class="mission-img">
                <img src="https://cdn-expa.aiesec.org/assets/images/ldm/LDM_artboard.png" alt="Gain Benefits">
            </div>
        </div>
    </div>
</div>
<div   class="count-up-counter ptb60 offwhite-bg">
    <div class="container">
        <div class="flex-parent-3">
            <div class="flex-child-3 text-center">
                <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/world-gv-youth.svg"
                    alt="Countries covered">
                <p>120+</p>
                <p> {{translateService.applicationData['key2080'][translateService.currentLanguage]}}</p>
            </div>
            <div class="flex-child-3 text-center">
                <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/members-gv-youth.svg"
                    alt="Last year experiences">
                <p>50000+</p>
                <p> {{translateService.applicationData['key2081'][translateService.currentLanguage]}}</p>
            </div>
            <div class="flex-child-3 text-center">
                <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/positions-gv-youth.svg"
                    alt="Positions opened">
                <p>60000+</p>
                <p> {{translateService.applicationData['key2082'][translateService.currentLanguage]}}</p>
            </div>
        </div>
    </div>
</div>