<div   class="space-out-section white-bg">
  <div class="four-box-flow">
      <h1 class="italics-heading"> {{translateService.applicationData['key2119'][translateService.currentLanguage]}}</h1>
      <div class="flex-parent-4">
          <div class="flex-child-4 border-top-red">
              <h4 class="red-text">1. {{translateService.applicationData['key2084'][translateService.currentLanguage]}}</h4>
              <p> {{translateService.applicationData['key2085'][translateService.currentLanguage]}}</p>
          </div>
          <div class="flex-child-4 border-top-red">
              <h4 class="red-text">2. {{translateService.applicationData['key2086'][translateService.currentLanguage]}}</h4>
              <p> {{translateService.applicationData['key2087'][translateService.currentLanguage]}}</p>
          </div>
          <div class="flex-child-4 border-top-red">
              <h4 class="red-text">3. {{translateService.applicationData['key2088'][translateService.currentLanguage]}}</h4>
              <p> {{translateService.applicationData['key2089'][translateService.currentLanguage]}}</p>
          </div>
          <div class="flex-child-4 border-top-red">
              <h4 class="red-text">4. {{translateService.applicationData['key2090'][translateService.currentLanguage]}}</h4>
              <p> {{translateService.applicationData['key2091'][translateService.currentLanguage]}}</p>
          </div>
      </div>
  </div>
</div>
<div   class="white-bg">
  <div class="flex-container long-info-section">
      <div class="section-image-left">
          <img class="img-responsive" src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/static_images/gv_support_2x.jpg" alt="Our Support">
      </div>
      <div class="section-info-right">
          <div class="info-container">
              <h1 class="italics-text"> {{translateService.applicationData['key2092'][translateService.currentLanguage]}}</h1>
              <div class="info-content">
                  <div class="info-image">
                      <img src="https://cdn-expa.aiesec.org/icons/logistics.svg" alt="logistics support">
                  </div>
                  <div class="info-text">
                      <p class="info-head"> {{translateService.applicationData['key2093'][translateService.currentLanguage]}}</p>
                      <p> {{translateService.applicationData['key2094'][translateService.currentLanguage]}}</p>
                  </div>
              </div>

              <div class="info-content">
                  <div class="info-image">
                      <img src="https://cdn-expa.aiesec.org/icons/description.svg" alt="job description">
                  </div>
                  <div class="info-text">
                      <p class="info-head"> {{translateService.applicationData['key2095'][translateService.currentLanguage]}}</p>
                      <p> {{translateService.applicationData['key2096'][translateService.currentLanguage]}}.</p>
                  </div>
              </div>

              <div class="info-content">
                  <div class="info-image">
                      <img src="https://cdn-expa.aiesec.org/icons/shield.svg" alt="Safe living conditions">
                  </div>
                  <div class="info-text">
                      <p class="info-head"> {{translateService.applicationData['key2097'][translateService.currentLanguage]}}</p>
                      <p> {{translateService.applicationData['key2098'][translateService.currentLanguage]}}</p>
                  </div>
              </div>
              <div class="info-content">
                  <div class="info-image">
                      <img src="https://cdn-expa.aiesec.org/icons/learning.svg" alt="Learning experience">
                  </div>
                  <div class="info-text">
                      <p class="info-head"> {{translateService.applicationData['key2099'][translateService.currentLanguage]}}</p>
                      <p> {{translateService.applicationData['key2100'][translateService.currentLanguage]}}</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="link-wrapper mtb60">
          <a class="red-underline-btn" href="#"> {{translateService.applicationData['key2101'][translateService.currentLanguage]}}</a>
      </div>
  </div>
</div>