<div   class="main-info flex-container">
    <div class="section-image-left">
        <img class="img-responsive"
            src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/static_images/gv_benefits_2x.jpg"
            alt="Benefits of Global Volunteer">
    </div>
    <div class="section-info-right">
        <div class="info-container">
            <div class="info-content">
                <div class="info-image">
                    <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-1_v2.svg"
                        alt="Experience new cultures">
                </div>
                <div class="info-text">
                    <p class="info-head">
                        {{translateService.applicationData['key2063'][translateService.currentLanguage]}}</p>
                    <p> {{translateService.applicationData['key2064'][translateService.currentLanguage]}}</p>
                </div>
            </div>

            <div class="info-content">
                <div class="info-image">
                    <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-2.svg" alt="Make your Impact">
                </div>
                <div class="info-text">
                    <p class="info-head">
                        {{translateService.applicationData['key2065'][translateService.currentLanguage]}}</p>
                    <p> {{translateService.applicationData['key2066'][translateService.currentLanguage]}}</p>
                </div>
            </div>
            <div class="info-content">
                <div class="info-image">
                    <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-3.svg"
                        alt="Challenge yourself">
                </div>
                <div class="info-text">
                    <p class="info-head">
                        {{translateService.applicationData['key2067'][translateService.currentLanguage]}}</p>
                    <p> {{translateService.applicationData['key2068'][translateService.currentLanguage]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div   class="container space-out-section">
    <div class="flex-parent-2">
        <div class="flex-child-2">
            <h1 class="headings-text-left">
                {{translateService.applicationData['key2069'][translateService.currentLanguage]}}</h1>
            <p class="content-text"><strong>
                    {{translateService.applicationData['key2070'][translateService.currentLanguage]}}</strong></p>
            <p class="content-text mb30">
                {{translateService.applicationData['key2071'][translateService.currentLanguage]}}<br><br>
                {{translateService.applicationData['key2072'][translateService.currentLanguage]}}
            </p>
            <a class="red-underline-btn text-center" target="_blank" href="#">
                {{translateService.applicationData['key2073'][translateService.currentLanguage]}}</a>
        </div>
        <div class="flex-child-2 text-center">
            <img width="80%" src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/y4gg.gif"
                alt="Youth 4 Global Goals">
        </div>
    </div>
</div>